Esse código permite que o notebook funcione com qualquer nome de arquivo .csv. Ao carregar o arquivo, pegamos o nome diretamente do dicionário 'uploaded', tornando desnecessário renomeá-lo antes de rodar o código.

Para isso:

    Selecione choose file
    Na janela aberta selecione o arquivo .csv que deve ser analizado

In [ ]:
# from google.colab import files
# uploaded = files.upload()
# file_name = next(iter(uploaded))

Importa biblioteca pandas como pd

In [16]:
import pandas as pd

Le os dados do arquivo kanet.csv

In [17]:
data = pd.read_csv('kanet.csv')

armazena dentro de df os dados em formato de tabela

In [18]:
df = pd.DataFrame(data)

separa em grupo 1 e 2

In [19]:
group1 = df[df["group"] == 1]
group2 = df[df["group"] == 2]

calcula media da Idade, Estatura, Envergadura, Altura sentado, Altura ajoelhado, Cubito e Pé Esquerdo de ambos os grupos

In [20]:
mean_group1_age = group1["age"].mean()
mean_group2_age = group2["age"].mean()

mean_group1_height = group1["height"].mean()
mean_group2_height = group2["height"].mean()

mean_group1_span = group1["armspan"].mean()
mean_group2_span = group2["armspan"].mean()

mean_group1_seatHt = group1["seatHt"].mean()
mean_group2_seatHt = group2["seatHt"].mean()

mean_group1_kneelHt = group1["kneelHt"].mean()
mean_group2_kneelHt = group2["kneelHt"].mean()

mean_group1_cubit = group1["cubit"].mean()
mean_group2_cubit = group2["cubit"].mean()

mean_group1_leftFtLen = group1["leftFtLen"].mean()
mean_group2_leftFtLen = group2["leftFtLen"].mean()

mostra a media das medidas antropometricas dos 2 grupos

In [21]:
mean_group1_height, mean_group2_height, mean_group1_span, mean_group2_span, mean_group1_seatHt, mean_group2_seatHt, mean_group1_kneelHt, mean_group2_kneelHt, mean_group1_cubit, mean_group2_cubit, mean_group1_leftFtLen, mean_group2_leftFtLen

(161.83333333333334,
 165.41666666666666,
 165.86666666666667,
 169.5,
 86.16666666666667,
 86.55,
 120.23333333333333,
 122.56666666666666,
 44.656666666666666,
 45.298333333333325,
 24.103333333333335,
 24.956666666666663)

mostra qual grupo é mais alto e tem maior envergadura

In [22]:
# Compara a media das medidas antropometricas dos 2 grupos

if (mean_group1_height == mean_group2_height and
    mean_group1_span == mean_group2_span and
    mean_group1_seatHt == mean_group2_seatHt and
    mean_group1_kneelHt == mean_group2_kneelHt and
    mean_group1_cubit == mean_group2_cubit and
    mean_group1_leftFtLen == mean_group2_leftFtLen):
    print("Os grupos não são iguais")
else:
    print("Os grupos são diferentes")

Os grupos são diferentes